*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  /* overflow: hidden; */
}

body{
  height: 100%;
}

.App{
 
  min-height: 100vh;
  background: url('./assets/img/background4.png') no-repeat center ;
  background-size: cover;


}